@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Aprenda mais <a href="https://docs.microsoft.com/aspnet/core">Construindo Web apps com ASP.Net Core</a>.</p>
</div>
